{% extends 'base.html' %}
{% load static %}

{% block content %}


<!-- Carousel Start -->
<div class="container-fluid header-carousel px-0 mb-5">
    <div id="header-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="w-100" src="{% static 'img/carousel-1.jpg' %}" alt="Image">
                <div class="carousel-caption">
                    <div class="container">
                        <div class="row justify-content-start">
                            <div class="col-lg-7 text-start">
                                <h1 class="display-1 text-white animated slideInRight mb-3">Award Winning Laboratory
                                    Center</h1>
                                <p class="mb-5 animated slideInRight">Lorem ipsum dolor sit amet, consectetur adipiscing
                                    elit. Curabitur tellus augue, iaculis id elit eget, ultrices pulvinar tortor.
                                    Quisque vel lorem porttitor, malesuada arcu quis, fringilla risus.</p>
                                <a href="" class="btn btn-primary py-3 px-5 animated slideInRight">Explore More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="w-100" src="{% static 'img/carousel-2.jpg' %}" alt="Image">
                <div class="carousel-caption">
                    <div class="container">
                        <div class="row justify-content-end">
                            <div class="col-lg-7 text-end">
                                <h1 class="display-1 text-white animated slideInLeft mb-3">Expet Doctors & Lab
                                    Assistants</h1>
                                <p class="mb-5 animated slideInLeft">Lorem ipsum dolor sit amet, consectetur adipiscing
                                    elit. Curabitur tellus augue, iaculis id elit eget, ultrices pulvinar tortor.
                                    Quisque vel lorem porttitor, malesuada arcu quis, fringilla risus.</p>
                                <a href="" class="btn btn-primary py-3 px-5 animated slideInLeft">Explore More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#header-carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<!-- Carousel End -->

{% endblock %}